DirectoryIndex index.html index.htm index.php .ht

# allow only index.*  help.*  *.gif
# (?!  negative assertion
<FilesMatch "^(?!\.ht|index\.|.+\.gif|help\.|$)">
Order allow,deny
Deny from all
</FilesMatch>
